/********************************************
* Custom CSS Styles
*
* @author Kate McGaughey therealmcgaughey@gmail.com
********************************************/

/* . is by class*/
/* # is by id*/

/* Global and utility styles */

html, body {
	font-family: "Forum", "Palatino", serif;
	font-size: 18px;
}

.headshot {
	margin-top: 74px;
}

.img-circle {
	border: 1px solid #000000;
}

.quote {
	font-family: "Sail", "Palatino", serif;
	padding: 30px;
	font-size: 1.3rem;
}

.text-justify {
	font-family: "Forum", serif;
}

a {
	color: #ED6A5A;
	font-family: "Forum", serif;
	font-size: 22px;
	background-color: white;
}

.border {
	padding-top: 2em;
}

/* Navbar styles */

.navbar-brand {
	font-family: "Sail", "Big Caslon", "Palatino,", serif;
	font-size: 28pt;
	padding: 0em 1em;
	color: #ED6A5A;
}

.logo {
	max-height: 50px;
}

.navbar {
	font-family: "Forum", serif;
	background-color: white;
	padding: 3px 0;
	-webkit-box-shadow: 10px 10px 10px grey;
	-moz-box-shadow:    10px 10px 10px grey;
	box-shadow:         10px 10px 10px grey;
	z-index:999;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

span.icon-bar {
	background-color: coral;
}

/* Main content styles */

h1 {
	font-family: "Sail", "Palatino", serif;
	font-size: 3em;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h2 {
	font-family: "Sail", "Palatino", serif;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#home {
	background:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/background 6.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#repertoire {
	background: url("../images/background 1.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#rates-and-terms {
	background: url("../images/background 3.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#testimonials {
	background:  linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background-testimonials.jpg") no-repeat center center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#contact {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/background 5.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 20px;
	min-height: 100vh;
}

#center-block {
	padding-top: 80px;
	horiz-align: center;
}

.p-t-4 {
	padding-top: 6rem;
}

/* Footer styles */

footer {
	background-color: floralwhite;
	color: grey;
	font-style: italic;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}

.text-footer {
	font-family: "Sail", serif;
	padding: 10px;
}