/********************************************
* Custom CSS
********************************************/

.container {
	width: 980px;
}

.clear {
	clear: both;
}

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/********************************************
* Custom CSS Styles
*
* @author Kate McGaughey therealmcgaughey@gmail.com
********************************************/

/* global and utility styles */

body {
	font-family: "Big Caslon", "Palatino", serif;
	font-size: 12pt;
}

h1 {
	font-family: "Big Caslon", "Palatino", serif;
	font-size: 20pt;
}

img {
	border: 1px solid #000000;
}

.img-circle {
	border-radius: 50%;
	border: 1px solid #000000;
	max-width: 100%;
}

.text-center {
	font-family: "Sail", "Palatino", serif;
	font-size: 14pt;
	padding: 30px;
}

.text-justify {
	font-family: "Forum", serif;
	font-size: 14pt;
}

/* header styles */

.navbar {
	font-family: "Forum", "Big Caslon", "Palatino,";
	font-size: 16pt;
	background-color: white;
	padding: 3px 0;
	margin: 0;
}

.navbar-brand {
	font-family: "Sail", "Big Caslon", "Palatino,", serif;
	font-size: 28pt;
	padding: 15px 24px;
	margin: 0;
}

.h1 {
	font-family: "Lancelot", "Palatino", serif;
	font-size: 16pt;
	margin: 0;
}

.h2 {
	font-family: "Sail", "Palatino", serif;
	font-size: 16pt;
	margin: 0;
}

/* main content styles */

main {

}

.col-md-6 {
	margin-top: 13rem;
	margin-bottom: 2rem;
}

.bg-image {
	background-color: coral;
}



/* footer styles */

footer {
	background-color: floralwhite;
	color: #555;
	font-style: italic;
	font-size: 0.8em;
}