/********************************************
* Custom CSS Styles
*
* @author Kate McGaughey therealmcgaughey@gmail.com
********************************************/

/* Navbar styles */

.navbar-brand {
	font-family: "Sail", "Big Caslon", "Palatino,", serif;
	font-size: 28pt;
	padding: 0 1em;
	color: #ED6A5A;
}

.logo {
	max-height: 50px;
}

.navbar {
	font-family: "Forum", serif;
	background-color: white;
	padding: 3px 0;
	-webkit-box-shadow: 5px 5px 5px 5px grey;
	-moz-box-shadow:    5px 5px 5px 5px grey;
	/*I know I am supposed to end with known values here but the shadow looks wrong when I do*/
	box-shadow:         5px 5px 5px 5px grey;
	z-index:999;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

.icon-bar {
	background-color: coral;
}

/* Main content styles */

html, body {
	font-family: "Forum", "Palatino", serif;
	font-size: 16px;
}

.headshot {
	margin-top: 74px;
}

.img-circle {
	border: 1px solid #000000;
}

.feature-photo {
	border: 1px solid #000000;
}

.minor-photo {
	/*border: 1px solid #000000;*/
	padding-bottom: 3em;
	padding-right: 2em;
}

.p-t-4 {
	padding-top: 6rem;
}

.text-justify {
	font-family: "Forum", serif;
	padding-bottom: .5em;
	padding-left: 1em;
}

a {
	color: #ED6A5A;
	font-family: "Forum", serif;
	font-size: 22px;
	background-color: white;
}

.quote {
	font-family: "Sail", "Palatino", serif;
	padding: 30px;
	font-size: 1.3rem;
}

.border {
	padding-top: 2em;
}

.quote-border {
	padding-bottom: .5em;
}

h1 {
	font-family: "Sail", "Palatino", serif;
	font-size: 2em;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h2 {
	font-family: "Sail", "Palatino", serif;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#home {
	background:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/cynthia-home-background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#repertoire {
	background: url("../images/cynthia-repertoire-background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#rates-and-terms {
	background: url("../images/cynthia-rates-and-terms-background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#testimonials {
	background:  linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url("../images/cynthia-testimonials-background.jpg") no-repeat center center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#contact {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/cynthia-contact-background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 20px;
	min-height: 100vh;
}

/* Footer styles */

footer {
	background-color: #ED6A5A;
	font-style: italic;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}

.text-footer {
	font-family: "Sail", serif;
	padding-bottom: 10px;
}