/*corrects IE min-height bug*/

html { display: flex;}
body { width: 100%;}

/********************************************
* Custom CSS Styles
*
* @author Kate McGaughey therealmcgaughey@gmail.com
********************************************/

/* global and utility styles */

.body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	font-family: "Forum", "Palatino", serif;
	font-size: 14pt;
}

h1 {
	font-family: "Big Caslon", "Palatino", serif;
	font-size: 20pt;
}

img {
	border: 1px solid #000000;
}

.img-circle {
	border-radius: 50%;
	border: 1px solid #000000;
	max-width: 100%;
}

.text-center {
	font-family: "Sail", "Palatino", serif;
	font-size: 14pt;
	padding: 30px;
}

.text-justify {
	font-family: "Forum", serif;
	font-size: 14pt;
}

/* Navbar styles */

.top {
	color: #ED6A5A; !important;
}

.navbar-brand {
	font-family: "Sail", "Big Caslon", "Palatino,", serif;
	font-size: 28pt;
	padding: 15px 24px;
	margin: 0;
	color: #ED6A5A;
}

a {
	color: #ED6A5A;
	font-family: "Forum", "Big Caslon", "Palatino,";
	font-size: 16pt;
	background-color: white;
	padding: 3px 0;
	margin: 0;
}

.navbar {
	color: #ED6A5A; !important;
	font-family: "Forum", "Big Caslon", "Palatino,";
	font-size: 16pt;
	background-color: white;
	padding: 3px 0;
	margin: 0;
}

.main-menu {
	color: #ED6A5A; !important;
	font-family: "Forum", "Big Caslon", "Palatino,";
	font-size: 16pt;
	background-color: white;
	padding: 3px 0;
	margin: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

span.icon-bar {
	background-color: coral;
}
/* Main content styles */

main {

}

.col-md-6 {
	margin-top: 13rem;
	margin-bottom: 2rem;
}

.bg-image {
	background-color: coral;
}

.h1 {
	font-family: "Lancelot", "Palatino", serif;
	font-size: 16pt;
	margin: 0;
}

.h2 {
	font-family: "Sail", "Palatino", serif;
	font-size: 16pt;
	margin: 0;
}


/* footer styles */

footer {
	background-color: floralwhite;
	color: #ED6A5A;
	font-style: italic;
	font-size: 0.8em;
}