/********************************************
* Custom CSS Styles
*
* @author Kate McGaughey therealmcgaughey@gmail.com
********************************************/

/* . is by class*/
/* # is by id*/

/* Global and utility styles */

html, body {
	font-family: "Forum", "Palatino", serif;
	font-size: 18px;
}

.headshot {
	border: 1px solid #000000;
	margin-top: 74px;
}

.quote {
	font-family: "Sail", "Palatino", serif;
	padding: 30px;
	font-size: 1.3rem;
}

.text-justify {
	font-family: "Forum", serif;
}

.blockquote {
	background-color: coral;
	font-family: "Forum", serif;
	font-style: italic;
	margin: 0;
	padding: 2em 2em;
}

a {
	color: #ED6A5A;
	font-family: "Forum", serif;
	font-size: 22px;
	background-color: white;
}

/* Navbar styles */

.navbar-brand {
	font-family: "Sail", "Big Caslon", "Palatino,", serif;
	font-size: 28pt;
	padding: 15px 24px;
	color: #ED6A5A;
}
.logo {
	max-height: 50px;
}

.navbar {
	color: #ED6A5A; !important;
	font-family: "Forum", serif;
	background-color: white;
	padding: 3px 0;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

span.icon-bar {
	background-color: coral;
}

/* Main content styles */

.bg-image {
	background-color: coral;
}

h1 {
	font-family: "Sail", "Palatino", serif;
	font-size: 26pt;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h2 {
	font-family: "Sail", "Palatino", serif;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#home {
	background: url("../images/background 1-40.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#repertoire {
	background: url("../images/background 2-40.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#rates-and-terms {
	background: url("../images/background 3-30.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

#testimonials {
	background-color: #ED6A5A;
	padding-top: 74px;
	min-height: 100vh;
}

#contact {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/background 11.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 74px;
	min-height: 100vh;
}

/* Footer styles */

footer {
	background-color: floralwhite;
	color: grey;
	font-style: italic;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}

.text-footer {
	font-family: "Sail", serif;
	padding: 10px;
}